:root {
  --dark: #444851;
  --orange: #f89523;
  --gray: #7c8a97;
  --blue: #5f7d98;

  --saveColor: #b6d36b;
  --tableDataColor: #777777;
  --inputLabelColor: #bbbbbb;
  --light: #ffffff;
  --light-2: #eeeeee;
  --positiveData: #a6c556;
  --error: #ff504d;
  --activeBlue: #6698c7;
  --activeInput: #1194f6;
}
.MuiMenuItem-gutters {
  padding: 10px 15px !important;
}
