.settings-title {
	font-size: 18px;
	font-weight: bold !important;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #444851;
	padding: 26px 30px 0;
}
.tab-text {
	font-size: 14px !important;
	font-weight: bold !important;
	font-stretch: normal !important;
	font-style: normal !important;
	line-height: normal !important;
	letter-spacing: normal !important;
	color: #7c8a97 !important;
}
.tabs-container {
	border-bottom: solid 1px #f1f1f1 !important;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 15px;
}

.makeStyles-border-155:before {
	border-color: transparent !important;
}
