.option-header-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.option-globe {
  font-size: 48px;
}

.option-btn-cont {
  display: flex;
  justify-content: center;
  margin: 30px 0 6px 0;
}
