@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #ececec;
}

code {
	font-family: Monospace;
	border: solid 1px #ccc;
	padding: 5px;
	background: #eee;
	border-radius: 4px;
	color: hotpink;
}
/* width */
::-webkit-scrollbar {
	width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #d8d8d8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
}
.table-container {
	padding: 15px;
}
.campaign-edit-header-container {
	display: flex;
	justify-content: space-between;
}
.campaign-edit-title {
	width: 196px;
	height: 32px;
	font-family: Roboto;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #444851;
}
.title-container {
	display: flex;
	align-items: center;
}
.edit-title {
	font-size: 24px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #444851;
}
.pb-normal {
	padding-bottom: 25px;
}
.pt-normal {
	padding-top: 16px;
}
.p-normal {
	padding: 15px;
}
.p-24 {
	padding: 24px;
}
.mh-normal {
	min-height: 629px;
}

.MuiTabs-indicator {
	background-color: #f89523 !important;
	height: 3px !important;
}

.c-default {
	color: #444851;
}
.MuiCircularProgress-colorPrimary {
	color: #1194f6 !important;
}
.MuiSwitch-switchBase {
	color: #1194f6 !important;
}
.MuiSwitch-track {
	background-color: #ccc !important;
}
.display-normal {
	display: flex;
	justify-content: center;
	align-items: center;
}
